@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
body {
  height: 100vh;
  margin: 0;
  background-color: hsl(36, 100%, 99%);
  font-size: 15px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p {
  line-height: 1.8;
  color: hsl(236, 13%, 42%);
}

a {
  transition: all ease 0.2s;
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}
a:hover {
  color: hsl(5, 85%, 63%);
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  margin: 0 16px;
}

header {
  --height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--height);
  margin: 28px 12px;
}
header > img {
  height: 100%;
}
header > label {
  cursor: pointer;
  z-index: 60;
  height: var(--height);
  aspect-ratio: 1;
  display: flex;
  align-items: safe center;
  justify-content: safe center;
}
header > label svg path {
  transform-origin: center;
  transition: all ease-in 0.2s;
}
header input[type=checkbox] {
  display: none;
}
header input[type=checkbox]:checked ~ label:has(svg) {
  position: fixed;
  top: 28px;
  right: 28px;
}
header input[type=checkbox]:checked ~ label:has(svg) svg path:first-child {
  transform: rotate(225deg) translateY(7px);
}
header input[type=checkbox]:checked ~ label:has(svg) svg path:nth-child(2) {
  transform: rotate(135deg);
}
header input[type=checkbox]:checked ~ label:has(svg) svg path:nth-child(3) {
  transform: rotate(45deg) translateY(-7px);
}
header input[type=checkbox]:checked ~ nav {
  visibility: visible;
  right: 0;
  transition: visibility 0s, right ease-out 0.3s;
}
header input[type=checkbox]:checked ~ .menu-bg {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity ease-out 0.3s;
}
header .menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility 0s 0.3s, opacity ease-out 0.3s;
  font-size: 16px;
}
header nav {
  position: fixed;
  top: 0;
  right: -70vw;
  z-index: 55;
  visibility: hidden;
  width: 70vw;
  height: 100vh;
  transition: visibility 0s 0.3s, right ease-out 0.3s;
  background: hsl(36, 100%, 99%);
}
header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  z-index: 10;
  height: 70%;
  margin: 0;
  padding-left: 32px;
}
header nav ul li {
  list-style-type: none;
}

main {
  display: grid;
  grid-template-rows: auto 60px auto 60px auto 80px;
}
main .top-article {
  display: grid;
  justify-items: start;
  gap: 16px;
}
main .top-article img {
  width: 100%;
}
main .top-article .desktop {
  display: none;
}
main .top-article h1 {
  font-size: 40px;
  font-weight: 800;
}
main .top-article a {
  position: relative;
  padding: 16px 32px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: hsl(36, 100%, 99%);
}
main .top-article a::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -115%;
  z-index: -1;
  transform: skewX(-20deg);
  width: 110%;
  height: 100%;
  background-color: hsl(240, 100%, 5%);
  transition: left ease 0.3s;
}
main .top-article a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-color: hsl(5, 85%, 63%);
}
main .top-article a:hover::before {
  left: -5%;
}
main .new-articles {
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  padding: 28px 20px;
  background-color: hsl(240, 100%, 5%);
}
main .new-articles h2 {
  margin: 0;
  font-size: 28px;
  color: hsl(35, 77%, 62%);
}
main .new-articles article {
  margin-top: 32px;
}
main .new-articles article:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}
main .new-articles article h3 {
  margin-bottom: 8px;
}
main .new-articles article p {
  color: hsl(233, 8%, 79%);
}
main .new-articles article a {
  color: hsl(36, 100%, 99%);
}
main .new-articles article a:hover {
  color: hsl(35, 77%, 62%);
}
main .ranking {
  grid-row: 5/6;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: auto;
  gap: 32px;
}
main .ranking article {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: repeat(3, auto);
  column-gap: 24px;
  row-gap: 12px;
  align-items: center;
}
main .ranking article span {
  font-size: 28px;
  font-weight: 700;
  color: hsl(233, 8%, 79%);
}
main .ranking article img {
  grid-row: 1/4;
  grid-column: 1/2;
  width: 100px;
}

@media (width >= 500px) {
  .container {
    margin: 0 48px;
  }
  header {
    --height: 35px;
  }
  header input:checked ~ .menu-icon {
    right: 60px;
  }
  header nav ul {
    padding-left: 60px;
  }
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none;
  }
}
@media (width >= 700px) {
  header {
    --height: 40px;
  }
  header label {
    display: none;
  }
  header nav {
    display: flex;
    align-items: safe center;
    justify-content: safe center;
    position: static;
    visibility: visible;
    width: auto;
    height: 100%;
  }
  header nav ul {
    flex-direction: row;
    gap: 32px;
  }
  header nav ul a {
    color: hsl(236, 13%, 42%);
  }
}
@media (width >= 1024px) {
  body {
    display: flex;
    align-items: safe center;
    justify-content: safe center;
  }
  .container {
    row-gap: 40px;
    max-width: 1110px;
    margin: 60px 32px;
  }
  header {
    grid-column: 1/3;
    margin: 0;
  }
  main {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 2fr 1fr;
    row-gap: 40px;
    column-gap: 32px;
  }
  main .top-article {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 36px;
    column-gap: 28px;
  }
  main .top-article img {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  main .top-article h1 {
    grid-row: 2/4;
    grid-column: 1/2;
    font-size: 52px;
  }
  main .top-article p {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  main .top-article a {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: end;
  }
  main .new-articles {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-content: center;
    padding: 28px 24px;
  }
  main .new-articles h2 {
    font-size: 40px;
  }
  main .ranking {
    grid-row: 2/3;
    grid-column: 1/3;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
    gap: 16px;
    padding: 32px 0;
  }
  main .ranking article {
    justify-content: space-between;
    row-gap: 0;
  }
}

/*# sourceMappingURL=style.css.map */
